.main {
  // background-image: url('/card.png');
  // background-size: cover;
  // background-position: center;
  // // background-repeat: no-repeat;
  // background-attachment: fixed; /* 🔥 asta e cheia */

  // height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
